@import url("https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,300;0,400;1,300&display=swap");
@import url("./assets/css/utils.css");

:root {
   --dark: #000;
   --primary: #22d3ee;
   --success: #4ade80;
   --font-size: 18px;
   --range: 3rem;
   --font-family: "Ysabeau Infant", sans-serif;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-size: var(--font-size);
   font-family: var(--font-family);
}

/* Navbar */
.navbar-container {
   height: 70px;
   padding: 0 var(--range);

   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 999;

   display: flex;
   align-items: center;
}

.navbar-wrapper {
   width: 100%;

   display: flex;
   justify-content: space-between;
   align-items: center;
}

.navbar-left {
   display: flex;
   align-items: center;
}

.navbar-brand img {
   width: 40px;
   height: 40px;
}

.navbar-group {
   display: flex;
   margin-left: 20px;
}

.navbar-link {
   color: var(--dark);

   text-decoration: none;
   margin-right: 15px;
}

.navbar-link:hover::after {
   content: "";
   display: block;

   height: 2px;
   margin-top: -2px;

   background-color: var(--dark);
   animation: uLink 0.4s;
}

.navbar-right {
   display: flex;
   align-items: center;
}

.theme-toogle {
   margin-right: 5px;
}

.theme-toogle button {
   padding: 3px;
}

/* Main */
main {
   width: 100%;

   margin-top: 70px;
   padding: 30px var(--range) 30px;

   display: grid;
   grid-template-columns: 0.6fr 2fr 1fr;
   column-gap: 10px;
}

.sidebar {
}

.sidebar-menu {
   list-style: none;
   padding: 0 5px;
}

.sidebar-menu li {
   margin-bottom: 7px;
   padding: 10px;

   border-radius: 5px;
   border: 1px solid #cbd5e1;

   cursor: pointer;
   transition: 0.3s;
}

.sidebar-menu li:hover {
   box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.menu-group {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-content: start;
   column-gap: 15px;
   row-gap: 15px;
}

.card {
   border: 1px solid #cbd5e1;
   border-radius: 5px;

   overflow: hidden;
}

.card-img {
   height: 200px;

   overflow: hidden;

   object-fit: cover;
   object-position: center;
}

.card-img img {
   width: 100%;
   height: 100%;

   transition: 0.3s;
}

.card-img img:hover {
   transform: scale(1.1);
}

.card-body {
   padding: 10px;
}

.order-items {
   width: 100%;
   font-size: calc(var(--font-size) - 2px);

   padding: 8px;
   border: 1px solid #cbd5e1;
}

.order-header {
   padding-top: 5px;
}

.order-header:after {
   content: "";
   display: block;
   background-color: #cbd5e1;

   height: 1px;
   width: 100%;

   margin-top: 5px;
}

.order-card {
   display: grid;
   grid-template-columns: 0.4fr 2fr 1fr;
   align-items: center;

   border: 1px solid #cbd5e1;
   border-radius: 5px;

   margin-top: 10px;
   margin-bottom: -5px;
   padding: 2px;
}

.order-count {
   margin: 0 auto;
}

.order-item {
   display: flex;
   align-items: center;
}

.order-img {
   display: flex;
   align-items: center;
}

.order-img img {
   object-fit: cover;
   object-position: 60% 50%;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   border: 1px solid #cbd5e1;
   /* background-position: 100px; */
}

.order-name {
   padding-left: 5px;
}

.order-price {
   /* width: 30%; */
   justify-self: end;
   margin-right: 5px;
   /* background-color: tomato; */
}

.order-total {
   margin-top: 25px;
}

.order-total p {
   margin-bottom: 5px;
}

@keyframes uLink {
   from {
      width: 0;
      margin: -2px auto 0;
   }

   to {
      width: 100%;
      margin: -2px auto 0;
   }
}
